# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Delsoft.Course.CQRS.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pa.delsaut\source\repos\diplomegalo\Delsoft.Course.CQRS\.idea\.idea.Delsoft.Course.CQRS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
